.box {
    padding: 1.5rem;
    padding-top: 1rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;

    width: 290px;
    height: 320px;
}

.box img {
    height: 10rem;
    width: 15rem;
    border-radius: .5rem;
}

.box .span {
    color: green;
    font-weight: bolder;
    margin-left: 1rem;
    font-size: 2rem;
    margin-bottom: 10px;
    display: flex;
}

.box .btn,
.dialog-delete .btn {
    display: inline-block;
    color: #eee;
    background: black;
    border-radius: .5rem;
    cursor: pointer;
    padding: .6rem 1rem;
}

.box .btn:hover,
.dialog-delete .btn:hover {
    background: green;
    color: white;
    letter-spacing: .1rem;
}

.dialog-delete .dialog-delete-border {
    border: 2px solid black;
}