.cart-container {
    margin: 20px;
  }
  
  /* Table container styling */
  .cartitems {
    width: 80%;
    margin: auto;
  }
  
  /* Table header styling */
  .cartitems-format-main {
    font-weight: bold;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  /* Alternate row background color */
  .cartitems-format-main:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  /* TableCell styling */
  .cartitems-format-main, .cartitems-format-button {
    padding: 10px;
    text-align: center;
  }
  
  /* Image styling */
  .cart-image {
    width: 100px;
    height: 100px;
  }
  
  /* Total price section styling */
  .cartitems-total {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Payment button styling */
  .cart-pay-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }
  
  /* Dialog button styling */
  .cart-dialog-button {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  /* Dialog button styling on hover */
  .cart-dialog-button:hover {
    background-color: #e04040;
  }
  
  /* Yes button styling */
  .cart-yes-button {
    background-color: #ff6b6b;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  /* No button styling */
  .cart-no-button {
    color: #4caf50;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Yes button styling on hover */
  .cart-yes-button:hover {
    background-color: #e04040;
  }
  
  .cartitems-total button{
    width: 262px;
    height: 58px !important;
    outline: none;
    border: none;
    background: #e670a7 ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }